@import "mixins";
@import "fonts";
@import 'vars';

.container {
  width: 100%;
  max-width: 1300px;
  margin: auto;
  padding: 0 10px;
  position: relative;

  &.container_block {
    padding: 100px 10px;
    @include flexy(row, space-between, center);
    flex-wrap: wrap;
  }
}

.left-line, .center-line, .right-line {
  position: absolute;
  background: rgba(123, 123, 123, .4);
  height: 100%;
  width: 1px;
}

.left-line {
  left: 210px;
}

.center-line {
  @include center(absolute);
}

.right-line {
  right: 210px;
}

.button {
  width: 200px;
  height: 60px;
  border-radius: 5px;
  text-transform: uppercase;
  background: transparent;
  color: #fff;
  font-weight: bold;
  transition: .2s;
  background: $accent;
  border: 1px solid $accent;
  overflow: hidden;
  position: relative;
  cursor: pointer;

  &:hover {
    border: 1px solid rgba(123, 123, 123, .8);
    background: transparent;
  }

  &.button_orange {
    &:hover {
      color: $accent;
      border: 1px solid $accent;
    }
  }
}

.input, .textarea, .select {
  background: #E5E5E5;
  border-radius: 5px;
  border: none;
  padding-left: 20px;
  color: black;
}

.input, .select {
  height: 60px;
}

.select {
  margin-bottom: 10px;
  width: 100%;
  appearance: none;
  background: url("../img/favicon/arrow.svg") no-repeat right #ddd;
  background-position-x: calc(100% - 20px);

  &__value {
    background: #c6c6c6;
  }
}

.textarea {
  padding-top: 20px;

  &:focus {
    outline: none;
  }
}

.title {
  text-transform: uppercase;
  font-family: 'BannyRound', sans-serif;
  font-weight: bold;
  text-align: center;
  position: relative;
  padding-bottom: 10px;

  &:before {
    position: absolute;
    @include center(absolute);
    bottom: -5px;
    content: '';
    height: 5px;
    width: 60px;
    border-radius: 3px;
    background: $accent;

    z-index: 1;
  }
}

.small-title {
  @include center(absolute);
  top: 50px;
  width: 100%;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 0.5em;
  text-transform: uppercase;
}

.extra-info {
  @include center(absolute);
  bottom: 50px;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  color: rgba(189, 189, 189, 0.8);

  &__dedicated {
    font-weight: bold;
    color: rgba(116, 116, 116, 0.8);
  }
}
