@import "vars";

@media only screen and (max-width: 992px) {
  .right-line, .center-line, .left-line, .header {
    display: none;
  }

  .share {
    height: auto;
    flex-grow: 1;
    align-items: flex-end;
  }

  .button {
    width: 150px;
    height: 50px;
  }

  .burger, .mobile-logo {
    display: block;
  }

  .homepage {

    &__arrow-wrapper {
      &:before, &:after {
        display: none;
      }
    }

    &__content {

      &-left, &-right {
        display: none;
      }

      &-center {
        width: 100%;
      }
    }

    &__title {
      font-size: 75px;
    }
  }

  .info {
    margin-bottom: 20px;

    &_left {
      padding-right: 0;
    }

    &_right {
      padding-left: 0;
    }
  }

  .block-picture {
    width: 100%;

    &_left:after, &_right:after {
      width: 45%;
      height: 50%;
    }

    &_right {
      padding-left: 0;
    }

    &_left {
      margin-bottom: 20px;
      padding-right: 0;
    }

    &__image {
      width: 80%;
      height: auto;
    }

    &__decoration {
      width: 20%;
    }
  }

  .extra-info {
    width: 98%;
  }

  .dishes {
    width: 48%;
    max-width: 48%;
    margin-bottom: 40px;

    &:nth-child(3) {
      margin-bottom: 0;
    }
  }
}

@media only screen and (max-width: 768px) {
  .order__form-half {
    width: 100%;
  }

  .homepage__arrow {
    display: none;
  }

  .dishes {
    max-width: 100%;
    width: 100%;
    text-align: center;

    &__item {
      margin-bottom: 20px;
    }
  }

  .contact {

    &__inputs {
      margin-bottom: 0;
    }

    &__input-label {
      width: 100%;
      margin-bottom: 10px;
    }

    &__footer {
      flex-wrap: wrap;

      &-item {
        margin-bottom: 10px;
      }
    }

    &__info {
      width: 100%;
      margin-bottom: 10px;
    }

    .button {
      width: 100%;
    }
  }
}

@media only screen and (max-width: 480px) {
  .container.container_block {
    padding: 70px 10px;
  }

  .extra-info {
    bottom: 30px;
  }

  .homepage {

    &__title {
      font-size: 55px;
    }

    .button {
      margin: 0 5px;
      width: 120px;
      height: 40px;
    }
  }

  .info {

    &__title {
      font-size: 30px;
    }

    &__subtitle {
      font-size: 16px;
    }

    &__text {
      font-size: 12px;
    }
  }

  .block-picture {

    &__decoration {
      width: 60px;
      font-size: 16px;
    }

    &_left:after, &_right:after {
      border-width: 10px;
    }
  }

  .dishes {
    &__text-title {
      font-size: 14px;
    }
  }

  .contact {
    .info_left {
      margin-bottom: 20px;
    }
  }

  .tabs {
    margin-top: 0;

    &__header {
      overflow-x: scroll;

      &-item {
        min-width: 100px;
      }
    }
  }

  .map {
    height: 300px;
  }

  .footer {
    padding: 30px;
  }
}

@media only screen and (min-width: 992px) {
  .mobile-navigation {
    display: none;
  }
}
