@import "vars";

@mixin flexy($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin center($position) {
  position: $position;
  left: 50%;
  transform: translateX(-50%);
}

@mixin background($path) {
  position: relative;
  background: url($path) 50% 50% no-repeat;
  background-size: cover;
}

@mixin block-picture() {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  content: '';
  height: 250px;
  width: 250px;
  border: 20px solid $accent;
}

@mixin burger($position) {
  display: block;
  position: $position;
  height: 2px;
  width: 25px;
  background: $accent;
  border-radius: 3px;
}
