@import "libs";
@import "fonts";
@import "slick";
@import "mixins";
@import "vars";
@import "components";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a, ul, li {
  text-decoration: none;
  padding: 0;
  list-style: none;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  color: #fff;
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
}

a {
  &:hover, &:focus {
    text-decoration: none;
    color: #fff;
  }
}

button, input, select {
  &:active, &:focus {
    outline: none;
  }
}

.header {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  height: 100px;
  width: 101%;
  transition: .3s;

  z-index: 999;

  &.active {
    background: rgba(0, 0, 0, 0.9);
  }
}

.burger {
  display: none;
  position: fixed;
  right: 10px;
  top: 10px;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.4);
  padding: 15px 5px;

  z-index: 999;

  span {
    @include burger(relative);

    &:before, &:after {
      @include burger(absolute);
      content: '';
    }

    &:before {
      bottom: 5px;
    }

    &:after {
      top: 5px;
    }
  }
}

.mobile-logo {
  display: none;
  position: absolute;
  top: 20px;

  img {
    width: 70px;
    height: 70px;
  }
}

.navigation {
  @include flexy(row, space-between, baseline);
  position: relative;

  &__left, .navigation__right {
    justify-content: flex-start;
    padding: 40px 0;
    border-bottom: $border;
  }

  &__right {
    justify-content: flex-end;
  }

  &__list {
    @include flexy(row, space-between, center);
    padding: 0 45px;
  }

  &__link {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    transition: .2s;

    &:hover {
      color: $accent;
    }
  }

  & .logo {
    @include center(absolute);
    @include flexy(row, center, center);
    margin-top: 25px;
  }
}

.homepage {
  background: url("../img/header-bg.png") 50% 15% no-repeat;
  background-size: cover;
  min-height: 100vh;
  @include flexy(column, space-between, center);

  &__content {
    flex-grow: 1;
    display: flex;
    margin-top: 100px;

    &-left {
      position: relative;
      font-weight: 700;

      .homepage__left-text {
        position: absolute;
        left: -80px;
        top: 50%;
        transform: rotate(-90deg) translateY(-50%);
        width: 270px;
      }
    }

    &-center {
      @include flexy(column, center, center);
    }

    &-right {
      @include flexy(column, center, flex-end);
    }
  }

  &__title {
    font-size: 90px;
  }

  .small-title {
    position: static;
    transform: none;
  }

  &__buttons {
    padding-top: 45px;
    @include flexy(row, center, center);

    .button {
      margin: 0 20px;
    }
  }

  &__arrow {
    @include center(absolute);
    @include flexy(row, center, center);
    bottom: $bottom-arrow;

    &-wrapper {
      padding: 10px;
      border: $border;
      border-radius: 50%;
      position: relative;

      &:before, &:after {
        @include center(absolute);
        content: '';
        width: 1px;
        background: rgba(123, 123, 123, .4);

        z-index: 1;
      }

      &:before {
        height: calc(100vh - 350px);
        bottom: 60px;
      }

      &:after {
        height: $bottom-arrow;
        bottom: -$bottom-arrow;
      }
    }

    &-inner {
      @include flexy(row, center, center);
      height: 40px;
      width: 40px;
      background: #fff;
      border-radius: 50%;
      flex-shrink: 1;
      border: none;
    }
  }
}

.share {
  @include flexy(column, space-between, center);
  height: 220px;

  &__item {
    @include flexy(column, center, center);
    width: 60px;
    height: 60px;
    border: $border;
    border-radius: 50%;
    transition: .2s;

    &:hover {
      background: $accent;
    }
  }
}

.info {

  &_left {
    padding-right: 40px;
    color: black;
  }

  &_right {
    padding-left: 40px;
    color: rgba(255, 255, 255, 0.8);
  }

  &__title {
    font-size: 36px;
    line-height: 48px;
    margin-bottom: 20px;
  }

  &__subtitle, &__text {
    font-style: normal;
    line-height: 28px;
    text-align: center;
  }

  &__subtitle {
    max-width: 565px;
    font-weight: bold;
    margin: 0 auto 20px;
    font-size: 18px;
  }

  &__text {
    font-size: 14px;
  }
}

.block-picture {
  position: relative;
  display: flex;

  &__image {
    height: 475px;
    width: 475px;
    box-shadow: 0 0 35px 10px rgba(0, 0, 0, 0.5);
    border-radius: 2px;
  }

  &_left {
    padding-right: 40px;
    justify-content: flex-end;

    &:after {
      border-radius: 5px;
      left: 0;
      @include block-picture;
    }
  }

  &_right {
    padding-left: 40px;
    justify-content: flex-start;

    &:after {
      border-radius: 5px;
      right: 0;
      @include block-picture;
    }
  }

  &__decoration {
    position: absolute;
    background: black;
    text-transform: uppercase;
    font-family: 'BannyRound', sans-serif;
    font-size: 24px;
    line-height: 12px;
    text-indent: 20px;
    height: 100%;
    width: 80px;

    &_left .left {
      position: absolute;
      top: 65px;
      right: -30px;
      transform: rotate(90deg);
    }

    &_left .right {
      width: 300px;
      position: absolute;
      bottom: 145px;
      left: -110px;
      transform: rotate(-90deg);
    }
  }
}

.team {
  @include background("../img/team.png");
}

.order {
  &__form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    &-half {
      width: 49.2%;
    }
  }

  &__input {
    width: 100%;
    margin-bottom: 10px;
  }

  .button {
    width: 100%;
  }
}

.specialties {
  @include background("../img/specialty.png");
}

.menu {
  .info_left {
    width: 100%;
    padding-right: 0;
  }
}

.tabs {
  color: #333333;
  width: 100%;
  margin-top: 50px;

  &__header {
    width: 100%;
    max-width: 840px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto auto 50px auto;

    &-item {
      text-transform: uppercase;
      cursor: pointer;
      padding: 16px 0;
      border-left: 1px solid rgba(51, 51, 51, 0.2);
      font-weight: bold;
      width: 100%;
      text-align: center;
      transition: .2s;

      &.active {
        background: rgba(201, 201, 201, 0.2);
      }

      &:first-child {
        border-left: none;
      }
    }
  }

  &__content {

    &-item {
      display: none;

      animation: tabs__content-item .2s;

      &.active {
        display: block;
      }
    }
  }
}

.dishes {
  max-width: 30%;

  &-wrapper {
    @include flexy(row, space-between, baseline);
    flex-wrap: wrap;
  }

  &__item {
    display: flex;
    margin-bottom: 30px;
  }

  &__text {
    width: 100%;

    &-title {
      font-family: 'BannyRound', sans-serif;
      font-size: 18px;
      line-height: 18px;

      span {
        letter-spacing: 6px;
      }
    }

    &-subtitle {
      color: rgba(123, 123, 123, .8)
    }
  }
}

.events {
  @include background("../img/specialty.png");
}

.gallery {
  &__item {
    height: 360px;
  }

  &__item:nth-child(1) {
    @include background("../img/gallery4.png");
  }

  &__item:nth-child(2) {
    @include background("../img/gallery3.png");
  }

  &__item:nth-child(3) {
    @include background("../img/gallery2.png");
  }

  &__item:nth-child(4) {
    @include background("../img/gallery1.png");
  }
}

.contact {

  .info_left {
    width: 100%;
    padding-right: 0;
    margin-bottom: 50px;
  }

  &__form {
    width: 100%;
  }

  &__inputs {
    @include flexy(row, space-between, baseline);
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 10px;
  }

  &__input {
    width: 100%;

    &-label {
      width: 32.7%;
    }
  }

  &__textarea {
    width: 100%;
    height: 120px;
    resize: none;
    margin-bottom: 10px;
  }

  &__footer {
    @include flexy(row, space-between, center);
    color: grey;

    &-item {
      width: auto;
      @include flexy(row, space-evenly, center);
    }

    &-logo {
      height: 20px;
      width: 20px;
      fill: $accent;
      margin-right: 5px;
    }
  }

  &__info {
    width: 49%;
    @include flexy(row, space-between, center);
    flex-wrap: wrap;
  }

  .button {
    width: 49%;
    @include flexy(row, center, center);
  }
}

.map {
  width: 100%;
  height: 475px;
  @include background("../img/map.png");
}

.footer {
  background: rgba(0, 0, 0, 0.9);
  text-align: center;
  padding: 40px;

  &__text {
    color: rgba(201, 200, 200, 0.5);

    span {
      color: rgba(201, 200, 200, 0.9);
    }
  }
}

.mobile-navigation {
  position: fixed;
  @include flexy(column, center, baseline);
  background: rgba(5, 5, 5, 0.9);
  height: 100vh;
  width: 90%;
  padding: 20px;
  right: -100vw;
  transition: .2s;

  z-index: 998;

  &.active {
    right: 0;
  }

  &__link {
    text-transform: uppercase;
    font-size: 20px;
    color: #fff;
  }

  .share {
    @include flexy(row, space-between, flex-end);
    width: 170px;

    &__item {
      height: 40px;
      width: 40px;
    }
  }

}

@keyframes tabs__content-item {
  0% {
    transform: translateX(-100vw);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@import "media";
